
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Web_chia_se_tai_lieu.ViewModels.CommentVM;
@{
    var str ="";
}
<div  class="form" style=" border: 1px solid red">
    
    <div class="form-row" style="padding: 10px; border: 1px solid black">
        <label >Nội Dung Bình Luận: </label>
        <textarea id="content" type="text"  class="form-control" ></textarea>
    </div>
    
        <button type="submit" style="align-items:center;"  class="btn btn-success" onclick="Click(TextChange())">Đăng</button>
   
</div>
<script>
    
    function TextChange (){
        var text = document.getElementById("content").value;
        
        return text;
    }

</script>
