<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class = "header">
        <div class="header__nav" style="border: 1px solid black;">
            <div class="header__title-name">𝓜𝔂 𝓓𝓸𝓬𝓾𝓶𝓮𝓷𝓽 </div>
            <div class="header__title-content">Nơi chia sẻ tài liệu miễn phí</div>
        </div>
        <div class="header__nav">
            <div class= "header__nav-list">
                <div class="header__nav-item menu">
                    <div class="tag-link text-color1">Menu</div>
                    <ul class="menu-list">
                        <li ><a class="" href="">Giáo trình lịch sử Đảng CSVN va lich su hinhf thanh phat trien chu nghia mac-lenin</a></li>
                        <li ><a class="" href="">item 1</a></li>
                        <li ><a class="" href="">item 1</a></li>
                        <li ><a class="" href="">item 1</a></li>
                        <li ><a class="" href="">item 1</a></li>
                        <li ><a class="" href="">item 1</a></li>
                        <li ><a class="" href="">item 1</a></li>
                    </ul>
                </div>
            </div>
            <div class="header__nav-search">
                <input style="margin-right: 0; min-width: none;" type="text" placeholder="tìm kiếm 1 triệu tài liệu">
                <button style="margin-left: 0;" type="submit"><i class="bi bi-search"></i></button>
                
            </div>
            <div class="header__nav-upload">
                <button class="btn1" type="submit"><i class="bi bi-upload"></i> Upload</button>
            </div>    

            <ul class="header__nav-list" styles="">
                <li class="header__nav-item noitification">
                    <i class="bi bi-bell-fill ">Thong bao</i>
                </li>
                <li class="header__nav-item"><a class="tag-link text-color1" href="">Dang Ky</a></li>
                <li class="header__nav-item"><a class="tag-link text-color1" href="">Dang Nhap</a></li>
                
            </ul>
        </div>
      
    </div>
    <div class="chat">
        <div class="icon-mess">
            <a href="https://zalo.me/0815805626"><img src="/img/zalo-logo-inkythuatso-14-15-05-01.jpg" alt=""></a>
            <img src="/img/Apple_Messages-512.webp" alt="">
        </div>
    </div>

    <div class="page page-product" >
        <div class="product__menu">
            <div class="home__topic-title">DANH MUC TAI LIEU</div>
            <div class="product__menu-items">
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item" style="background-color: #1285c7a3;">
                    <h6 style="">Công nghệ thông tin</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5 </h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                <div class="product__menu-item">
                    <h6 style="">item 5</h6>
                    <h6 class="text-danger">(700)</h6>
                </div>
                
            </div>
        </div>
        <div class="product__list">
            <div class="product__list-title">Công Nghệ Thông Tin - Chuyên Ngành Công Nghệ Phần Mềm</div>
            <div class="product__list-items">
                <div class="product__list-head">
                    <div class="tool-sort">
                        Sắp xếp: 
                        <select name="" id="">
                            <option value="">Nội bật</option>
                            <option value="">Xem nhiều</option>
                            <option value="">Mới đăng</option>
                        </select>
                        <select name="" id="">
                            <option value="">Tất cả</option>
                            <option value="">Miễn phí</option>
                            <option value="">Có phí</option>
                        </select>
                        <input type="submit" value="Xác nhận">
                    </div>
                </div>
                <div class="product__list-body">
                    <div class="body-item">
                        <div class="title">
                            <a class="tag-link" href="">Giáo trình Tiếng Anh chuyên ngành Công nghệ thông tin (English for IT & computer users): Phần 1</a>
                        </div>
                        <div class="content">
                            <a href="">                            
                                <img src="https://tailieu.vn/image/document/thumbnail/2024/20240304/nguyetthuongvophong1010/80x100/2076614804.jpg" alt="">
                            </a>
                            <div class="content-left">
                                <div style="max-height: 85px; overflow: hidden; text-overflow: ellipsis;">
                                    <p style="font-size: 14px; ">Giáo trình "Tiếng Anh chuyên ngành Công nghệ thông tin (English for IT & computer users)" nhằm giúp học sinh, sinh viên phát triển những kiến thức cơ bản để giao tiếp bằng tiếng Anh trong ngành công nghệ thông tin. Sách có thể dùng trong các trường đại học, cao đẳng, và dạy nghề cho học sinh, sinh viên đã biết làm chủ những mẫu câu tiếng Anh thông dụng nhưng muốn mở rộng và nâng cao các kỹ năng ngôn ngữ trong môi trường công nghệ thông tin.</p>
                                </div>
                                <div class="content-detail">
                                    <div>
                                        <i class="fa-regular fa-file-word "></i>
                                        <i class="bi bi-person-fill-up text-danger">Trung Hau</i>
                                        <i class="bi bi-calendar3">17/3/2024</i>
                                        <i class="bi bi-eye"> 1520</i>
                                        <i class="bi bi-coin text-danger">10</i>
                                    </div>
                                    <button class="btn-success">Download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="title">
                            <a class="tag-link" href="">Công Nghệ Thông Tin</a>
                        </div>
                        <div class="content">
                            <a href="">                            
                                <img src="https://tailieu.vn/image/document/thumbnail/collection/240x160/0-671_1710487185.jpg" alt="">
                            </a>
                            <div class="content-left">
                                <div style="max-height: 85px; overflow: hidden; text-overflow: ellipsis;">
                                    <p style="font-size: 14px; ">Đây là nội dung của tài liệu này| Để hệ thống lại kiến thức cũ, trang bị thêm kiến thức mới, rèn luyện kỹ năng giải đề nhanh và chính xác cũng như thêm tự tin hơn khi bước vào kì thi tốt nghiệp THPT sắp đến, mời các bạn học sinh cùng tham khảo “Đề thi thử tốt nghiệp THPT môn Tiếng Anh năm 2023-2024 - Sở GD&ĐT Thanh Hóa” làm tài liệu để ôn tập. Chúc các bạn làm bài kiểm tra tốt! Cùng tham khảo “Đề thi học kì 1 môn GDCD lớp 8 năm 2023-2024 có đáp án - Trường THCS Nguyễn Bỉnh Khiêm, Phú Ninh” giúp các em ôn tập lại các kiến thức đã học, đánh giá năng lực làm bài của mình và chuẩn bị cho kì thi được tốt hơn với số điểm cao như mong muốn. Chúc các em thi tốt!</p>
                                </div>
                                <div class="content-detail">
                                    <div>
                                        <i class="fa-solid fa-file-pdf "></i>
                                        <i class="bi bi-person-fill-up text-danger">Trung Hau</i>
                                        <i class="bi bi-calendar3">17/3/2024</i>
                                        <i class="bi bi-eye"> 1520</i>
                                        <i class="bi bi-coin text-danger">10</i>
                                    </div>
                                    <button class="btn-success">Download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="title">
                            <a class="tag-link" href="">Công Nghệ Thông Tin</a>
                        </div>
                        <div class="content">
                            <a href="">                            
                                <img src="https://tailieu.vn/image/document/thumbnail/2024/20240304/nguyetthuongvophong1010/80x100/2076614804.jpg" alt="">
                            </a>
                            <div class="content-left">
                                <div style="max-height: 85px; overflow: hidden; text-overflow: ellipsis;">
                                    <p style="font-size: 14px; ">Đây là nội dung của tài liệu này| Để hệ thống lại kiến thức cũ, trang bị thêm kiến thức mới, rèn luyện kỹ năng giải đề nhanh và chính xác cũng như thêm tự tin hơn khi bước vào kì thi tốt nghiệp THPT sắp đến, mời các bạn học sinh cùng tham khảo “Đề thi thử tốt nghiệp THPT môn Tiếng Anh năm 2023-2024 - Sở GD&ĐT Thanh Hóa” làm tài liệu để ôn tập. Chúc các bạn làm bài kiểm tra tốt! Cùng tham khảo “Đề thi học kì 1 môn GDCD lớp 8 năm 2023-2024 có đáp án - Trường THCS Nguyễn Bỉnh Khiêm, Phú Ninh” giúp các em ôn tập lại các kiến thức đã học, đánh giá năng lực làm bài của mình và chuẩn bị cho kì thi được tốt hơn với số điểm cao như mong muốn. Chúc các em thi tốt!</p>
                                </div>
                                <div class="content-detail">
                                    <div>
                                        <i class="fa-solid fa-file-pdf "></i>
                                        <i class="bi bi-person-fill-up text-danger">Trung Hau</i>
                                        <i class="bi bi-calendar3">17/3/2024</i>
                                        <i class="bi bi-eye"> 1520</i>
                                    </div>
                                    <button class="btn-success">Download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="title">
                            <a class="tag-link" href="">Công Nghệ Thông Tin</a>
                        </div>
                        <div class="content">
                            <a href="">                            
                                <img src="https://tailieu.vn/image/document/thumbnail/collection/240x160/0-671_1710487185.jpg" alt="">
                            </a>
                            <div class="content-left">
                                <div style="max-height: 85px; overflow: hidden; text-overflow: ellipsis;">
                                    <p style="font-size: 14px; ">Đây là nội dung của tài liệu này| Để hệ thống lại kiến thức cũ, trang bị thêm kiến thức mới, rèn luyện kỹ năng giải đề nhanh và chính xác cũng như thêm tự tin hơn khi bước vào kì thi tốt nghiệp THPT sắp đến, mời các bạn học sinh cùng tham khảo “Đề thi thử tốt nghiệp THPT môn Tiếng Anh năm 2023-2024 - Sở GD&ĐT Thanh Hóa” làm tài liệu để ôn tập. Chúc các bạn làm bài kiểm tra tốt! Cùng tham khảo “Đề thi học kì 1 môn GDCD lớp 8 năm 2023-2024 có đáp án - Trường THCS Nguyễn Bỉnh Khiêm, Phú Ninh” giúp các em ôn tập lại các kiến thức đã học, đánh giá năng lực làm bài của mình và chuẩn bị cho kì thi được tốt hơn với số điểm cao như mong muốn. Chúc các em thi tốt!</p>
                                </div>
                                <div class="content-detail">
                                    <div>
                                        <i class="fa-regular fa-file-word "></i>
                                        <i class="bi bi-person-fill-up text-danger">Trung Hau</i>
                                        <i class="bi bi-calendar3">17/3/2024</i>
                                        <i class="bi bi-eye"> 1520</i>
                                    </div>
                                    <button class="btn-success">Download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="title">
                            <a class="tag-link" href="">Công Nghệ Thông Tin</a>
                        </div>
                        <div class="content">
                            <a href="">                            
                                <img src="https://tailieu.vn/image/document/thumbnail/collection/240x160/0-671_1710487185.jpg" alt="">
                            </a>
                            <div class="content-left">
                                <div style="max-height: 85px; overflow: hidden; text-overflow: ellipsis;">
                                    <p style="font-size: 14px; ">Đây là nội dung của tài liệu này| Để hệ thống lại kiến thức cũ, trang bị thêm kiến thức mới, rèn luyện kỹ năng giải đề nhanh và chính xác cũng như thêm tự tin hơn khi bước vào kì thi tốt nghiệp THPT sắp đến, mời các bạn học sinh cùng tham khảo “Đề thi thử tốt nghiệp THPT môn Tiếng Anh năm 2023-2024 - Sở GD&ĐT Thanh Hóa” làm tài liệu để ôn tập. Chúc các bạn làm bài kiểm tra tốt! Cùng tham khảo “Đề thi học kì 1 môn GDCD lớp 8 năm 2023-2024 có đáp án - Trường THCS Nguyễn Bỉnh Khiêm, Phú Ninh” giúp các em ôn tập lại các kiến thức đã học, đánh giá năng lực làm bài của mình và chuẩn bị cho kì thi được tốt hơn với số điểm cao như mong muốn. Chúc các em thi tốt!</p>
                                </div>
                                <div class="content-detail">
                                    <div>
                                        <i class="fa-solid fa-file-pdf "></i>
                                        <i class="bi bi-person-fill-up text-danger">Trung Hau</i>
                                        <i class="bi bi-calendar3">17/3/2024</i>
                                        <i class="bi bi-eye"> 1520</i>
                                    </div>
                                    <button class="btn-success">Download</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="body-item">
                        <div class="title">
                            <a class="tag-link" href="">Công Nghệ Thông Tin</a>
                        </div>
                        <div class="content">
                            <a href="">                            
                                <img src="https://tailieu.vn/image/document/thumbnail/collection/240x160/0-671_1710487185.jpg" alt="">
                            </a>
                            <div class="content-left">
                                <div style="max-height: 85px; overflow: hidden; text-overflow: ellipsis;">
                                    <p style="font-size: 14px; ">Đây là nội dung của tài liệu này| Để hệ thống lại kiến thức cũ, trang bị thêm kiến thức mới, rèn luyện kỹ năng giải đề nhanh và chính xác cũng như thêm tự tin hơn khi bước vào kì thi tốt nghiệp THPT sắp đến, mời các bạn học sinh cùng tham khảo “Đề thi thử tốt nghiệp THPT môn Tiếng Anh năm 2023-2024 - Sở GD&ĐT Thanh Hóa” làm tài liệu để ôn tập. Chúc các bạn làm bài kiểm tra tốt! Cùng tham khảo “Đề thi học kì 1 môn GDCD lớp 8 năm 2023-2024 có đáp án - Trường THCS Nguyễn Bỉnh Khiêm, Phú Ninh” giúp các em ôn tập lại các kiến thức đã học, đánh giá năng lực làm bài của mình và chuẩn bị cho kì thi được tốt hơn với số điểm cao như mong muốn. Chúc các em thi tốt!</p>
                                </div>
                                <div class="content-detail">
                                    <div>
                                        <i class="fa-solid fa-file-pdf "></i>
                                        <i class="bi bi-person-fill-up text-danger">Trung Hau</i>
                                        <i class="bi bi-calendar3">17/3/2024</i>
                                        <i class="bi bi-eye"> 1520</i>
                                    </div>
                                    <button class="btn-success">Download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="title">
                            <a class="tag-link" href="">Công Nghệ Thông Tin</a>
                        </div>
                        <div class="content">
                            <a href="">                            
                                <img src="https://tailieu.vn/image/document/thumbnail/collection/240x160/0-671_1710487185.jpg" alt="">
                            </a>
                            <div class="content-left">
                                <div style="max-height: 85px; overflow: hidden; text-overflow: ellipsis;">
                                    <p style="font-size: 14px; ">Đây là nội dung của tài liệu này| Để hệ thống lại kiến thức cũ, trang bị thêm kiến thức mới, rèn luyện kỹ năng giải đề nhanh và chính xác cũng như thêm tự tin hơn khi bước vào kì thi tốt nghiệp THPT sắp đến, mời các bạn học sinh cùng tham khảo “Đề thi thử tốt nghiệp THPT môn Tiếng Anh năm 2023-2024 - Sở GD&ĐT Thanh Hóa” làm tài liệu để ôn tập. Chúc các bạn làm bài kiểm tra tốt! Cùng tham khảo “Đề thi học kì 1 môn GDCD lớp 8 năm 2023-2024 có đáp án - Trường THCS Nguyễn Bỉnh Khiêm, Phú Ninh” giúp các em ôn tập lại các kiến thức đã học, đánh giá năng lực làm bài của mình và chuẩn bị cho kì thi được tốt hơn với số điểm cao như mong muốn. Chúc các em thi tốt!</p>
                                </div>
                                <div class="content-detail">
                                    <div>
                                        <i class="fa-solid fa-file-pdf "></i>
                                        <i class="bi bi-person-fill-up text-danger">Trung Hau</i>
                                        <i class="bi bi-calendar3">17/3/2024</i>
                                        <i class="bi bi-eye"> 1520</i>
                                    </div>
                                    <button class="btn-success">Download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary  btn-end">Xem them</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>hello! Cái footer này làm cái gì vậy</div>
    </div>
    
</body>
</html>