<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{background-color: grey;}
  </style>
</head>
<body>
  <!--
    <audio controls> <source src="https://trunghau123-my.sharepoint.com/:u:/g/personal/nobita_trunghau123_onmicrosoft_com/Ef1HTM4cgH5CiLi9CK7vvQkBjgZ1zPU8-Ha-tcjJvuwTtA?nav=eyJyZWZlcnJhbEluZm8iOnsicmVmZXJyYWxBcHAiOiJPbmVEcml2ZUZvckJ1c2luZXNzIiwicmVmZXJyYWxBcHBQbGF0Zm9ybSI6IldlYiIsInJlZmVycmFsTW9kZSI6InZpZXciLCJyZWZlcnJhbFZpZXciOiJNeUZpbGVzTGlua0NvcHkifX0&e=ul9fXK"></audio>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/FgYh6IUjSsg?si=GZAp97ibLTtggvEt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/zoEtcR5EW08?si=EqPfLjpk_pzpF2vf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  <audio controls> <source src="/music/1424370__Best Friend__Kana Nishino__lossless.flac"></audio>
<div style="margin: 20px auto;">
  <iframe src="https://trunghau123-my.sharepoint.com/personal/nobita_trunghau123_onmicrosoft_com/_layouts/15/embed.aspx?UniqueId=8d499684-6b65-4226-a9d7-0c453a3a14f9&embed=%7B%22hvm%22%3Atrue%2C%22ust%22%3Atrue%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create" width="1080" height="720" frameborder="0" scrolling="no" allowfullscreen title="black clover.mp4"></iframe>
</div>
<iframe src="https://drive.google.com/file/d/1yDwvlCHIZ_ar1zCIgwZIM2plTJ0fzyfh/preview" width="640" height="480" allow="autoplay"></iframe>
  <iframe  width="1080" height="720" style="max-width:100%;max-height:100%" frameborder="0" src="https://terabox.com/sharing/embed?surl=k9N6WpJbsuqL8nnNBb-qag&resolution=1080&autoplay=true&mute=false&uk=4398863213215&fid=625025840713828&slid=" allowfullscreen></iframe>

-->
<div style="height: 720px; width: 100%; display: flex; justify-content: center;">
  <iframe width="100%" height="100%"  frameborder="0" src="https://terabox.com/sharing/embed?surl=JgSNf-Xwx98PZAftFG8Q7w&resolution=1080&autoplay=true&mute=false&uk=4398863213215&fid=667429959763696&slid=" allowfullscreen></iframe>
</div>

</body>
</html>
