@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model Web_chia_se_tai_lieu.Models.User;

<script src="/lib/jquery/dist/jquery.js"></script>
<link href="/css/style.css" rel="stylesheet" />

<div class="page d-flex justify-content-center" style="min-height: 840px;">

    <div class="form-container" style="margin: auto; min-width: 640px">
        <div class="topic">Form Dang Nhap</div>
        <form asp-action="Login" class="form" method="post">
            <div class="form-row">
                <labe class="form-label">Email:</labe>
                <input asp-for="Email" class="form-input" type="email"></input>

            </div>
            <div class="form-row">
                <label class="form-label">Mat Khau:</label>
                <input asp-for="Password" class="form-input" type="password" id="password"></input>
                <span class="invalid-feedback " style="margin: 0; ">Mật khẩu phải ít nhất 4 ký tự.</span>
            </div>
            <div class="form-row">
            </div>

            <div class="form-row">
                <input type="checkbox" id="showPassword">
                <label for="showPassword">Hiện mật khẩu</label>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mx-auto" id="loginButton"> Đăng Nhập</button>
            </div>


        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#showPassword').on('change', function () {
            if ($(this).is(':checked')) {
                $('#password').attr('type', 'text');
            } else {
                $('#password').attr('type', 'password');
            }
        });
    });

    $('#password').on('input', function () {
        if ($(this).val().length > 0) {
            if ($(this).val().length < 4) {
                $(this).addClass('is-invalid');
            } else {
                $(this).removeClass('is-invalid');
            }
        }
    });
    $(document).ready(function () {
        $("#password").keyup(function () {
            var passwordLength = $(this).val().length;
            if (passwordLength < 4) {
                $("#loginButton").prop("disabled", true);
            } else {
                $("#loginButton").prop("disabled", false);
            }
        });
    });
    var mess = ViewData["LogErorr"];
    if (mess !== "true") {
        alert(mess);
    }
</script>
